<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<!-- ng-app é uma diretiva define o nome da aplicação define as fronteiras da aplicação
    diretivas são extensões da linguagem html que permitem a implantação de novos 
    comportamentos de forma declarativa.
    Dando mais poder ao html    
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista Telefonica</title>

    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/style.css">
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="indexController.js"></script>
    <script src="./services/operadoraFactory.js"></script>
    <script src="./services/coresFactory.js"></script>
    <script src="./services/contatosFactory.js"></script>

</head>

<!-- O ng-controller define qual controller a parte do html irá responder 
    não importa qual parte pode ser div body ou qualquer outra tag  -->

<body ng-controller="indexController">
    <div class="jumbotron">
        <!-- a diretiva ng-bind faz o bind de uma declaração no controller funciona parecida com o
        {{}} interpolação da expressao
            a diferença entre eles é que se houver alguma lentidão na aplicação o {{}} mostra a declaração e o
            ng-bind não
        {{objeto. valor + "Este é o valor da variavel"}} consigo concatenar 
          -->
        <h3 ng-bind="app"></h3>

        <div>
            <!-- A diretiva ng-model funciona inverso ao ng-bind ela vincula uma propriedade ao $scope
            "Pega alguma coisa da view e define no $scope" 
                usados em inputs, textAreas e selects
            -->
            <form name="contatoForm">
                <!-- <div ng-show="contatoForm.nome.$invalid && contatoForm.nome.$dirty" class="alert alert-danger">
                    Nome Inválido
                </div> -->
                <div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
                    Nome Inválido
                </div>
                <div ng-show="contatoForm.nome.$error.minlength" class="alert alert-danger">
                    O campo nome deve ter no mínimo 5 Caracteres
                </div>

                <!-- O ng-messages funciona da mesma forma da validação acima fazendo um "switch" no contatoForm.$error  -->
                <!-- <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
                    <div ng-message="required">
                        Nome Inválido
                    </div>
                    <div ng-message="minlength">
                        O campo nome deve ter no mínimo 5 Caracteres
                    </div>
                </div> -->

                <input ng-required="true" class="form-control" type="text" ng-minlength="5" ng-model="contato.nome" name="nome" placeholder="Nome">

                <!-- <div ng-show="contatoForm.telefone.$invalid && contatoForm.telefone.$dirty" class="alert alert-danger">
                    Telefone Inválido
                </div> -->
                <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
                    Telefone Inválido
                </div>
                <div ng-show="contatoForm.telefone.$error.pattern && contatoForm.telefone.$dirty" class="alert alert-danger">
                    O telefone deve ser XXXXX-XXXX
                </div>

                <!-- <div ng-messages="contatoForm.telefone.$error" class="alert alert-danger">
                    <div ng-message="required">
                        Telefone Inválido
                    </div>
                    <div ng-message=" pattern ">
                        O telefone deve ser XXXXX-XXXX
                    </div>

                </div> -->
                <input ng-required="true " class="form-control " type="text " ng-model="contato.telefone " name="telefone
                        " placeholder="Telefone " ng-pattern="/^\d{5}-\d{4}$/ ">
            </form>
        </div>

        <!--ng-options cria um select como o nome do campo definido pelo nome antes do for 
            o operadora.codigo antes do as esta definindo que atributo do objeto operadora sera inserido no objeto contato 
            excluindo os outros atributos do objeto operadora 
            group by dentro da expressão define uma divisão dentro do select dividindo as opções por grupos Ex no caso Fixo e celular-->
        <!-- ng-model faz a atribuição ao $scope contao.operadora  -->
        <select class="form-control " ng-model="contato.operadora " ng-options="operadora.nome group by operadora.categoria
                        for operadora in operadoras ">
            <option value=" ">Selecione uma operadora</option>
        </select>

        <select class="form-control " ng-model="contato.cor " ng-options="cor.nome for cor in cores ">
            <option value=" ">Selecione uma cor</option>
        </select>

        <!-- ng-click reage ao evendo click chamando uma função definida no controller -->
        <!-- ng-disabled deixa desabilita o campo ou botao de acordo com algum parametro passado, neste exempo se nao
        existir contato.nome ou contato.telefone no scope ele desabilita  -->
        <button type=" " class="btn btn-primary btn-block " ng-click="adicionarContato(contato) " ng-disabled="contatoForm.$invalid ">Salvar</button>

        <!-- ng-hide não mostra o elemento dependendo da sua condição funciona da mesma forma do show  -->
        <!-- <button type=" " class="btn btn-danger btn-block " ng-click="apagarContatos(contatos) " ng-hide="!isSelecionado(contatos) ">Apagar</button> -->

        <!-- ng-if interage com a DOM excluindo sua tag dependendo do parametro passado igual ao ng-show melhor utilizado para performance -->
        <!-- <button type=" " class="btn btn-danger btn-block " ng-click="apagarContatos(contatos) " ng-if="isSelecionado(contatos) ">Apagar</button> -->

    </div>

    <div class="container">
        <div class="row">
            <table ng-show="contatos.length > 0" class="table table-hover">
                <!-- tr = tablerow é cada linha da tabela  -->
                <tr>
                    <!-- th = table header define o título de cada coluna  -->
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Operadora</th>
                    <th>Identificação</th>
                    <th></th>
                </tr>

                <!-- A diretiva ng-repeat como o proprio nome diz se refere a um loop que passa por todos elementos
                de um array  
                ng-class atribui uma classe css para quando os parametros dentro dela são verdadeiros
                neste caso ele está adicionado as classes selecionado e negrito a tr quando o checkbox contato.selecionado true
                esse exemplo subistitui o {selecionado: contato.selecionado, negrito: contato.selecionado}
            -->

                <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                    <!-- td é o conteúdo dentro de uma tabela -->
                    <td>{{contato.nome}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.operadora.nome}}</td>
                    <!-- o ng-style atribui assim como o ng-class mas não uma classe e sim um stilo a tag  -->
                    <td>
                        <div style="width: 20px; height: 20px" ng-style="{'background-color': contato.cor.valor}"></div>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="apagarContato(contato)">X</button>
                    </td>

                    <!-- outra forma de se fazer  -->
                    <!-- <td ng-repeat="(key,value) in contato">
                        {{key + ": " + value}}
                    </td> -->

                </tr>
            </table>
        </div>
    </div>

    <!-- inclui o footer de outro html nao funciona no chrome -->
    <!-- <div ng-include=" 'footer.html' "></div> -->

</body>

</html>